---
layout: default_layout
title: "Datacraft"
group: "navigation"
order: 1
subheading:
cover_image: "milkyway.jpg"
---
<!-- Cover image by https://unsplash.com/@grakozy -->
<!-- Main Content -->

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
<!-- Loop through _posts directory and update Homepage preview.-->
            {% for post in site.posts %}
            <div class="post-preview">
                <a href="{{ post.url }}">
                    <h2 class="post-title">
                        {{ post.title }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.description }}
                    </h3>
                </a>
                <p class="post-meta">Posted by <a href="#">{{ post.author }}</a> on {{ post.date | date_to_string }}</p>
            {% endfor %}

            <hr>

<!-- End of preview loop.-->

<!-- Pager: jumping to previous and next posts -->
          {% if paginator.total_pages > 1 %}
            <ul class="pager">
              <li class="previous">
                {% if paginator.previous_page %}
                  <a href="{{ paginator.previous_page_path }}">Previous Posts &larr;</a>
              </li>
                {% endif %}

                {% if paginator.next_page %}
                <li class="next">
                    <a href="{{ paginator.next_page_path }}">Older Posts &rarr;</a>
                </li>
                {% endif %}
            </ul>
            {% endif %}

          </div>
    </div>
  </div>
</div>
