
{% include header.html %}

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                    {{ content }}

                    <div class="row">
                      <ul class="pager">
                        <li class="previous"><a href="{{ page.previous.url }}">Older Posts</a></li>
                        <li class="next"><a href="{{ page.next.url }}">Newer Posts</a></li>
                      </ul>
                    </div>

                </div>
            </div>
        </div>
    </article>

    <hr>

{% include footer.html %}
